/* CSS Document */
/* body */
/* line 8, stylesheet.scss */
body {
  background-color: #DDD;
  font-family: Arial, Helvetica, sans-serif; }

/* line 13, stylesheet.scss */
h1 {
  font-size: 25px; }

/* line 17, stylesheet.scss */
p {
  line-height: 1.5em; }

/* line 21, stylesheet.scss */
.wrapper {
  width: 900px;
  margin: 0 auto;
  background-color: #FFF;
  overflow: hidden; }

/* Navigation Bar*/
/* line 30, stylesheet.scss */
.NavUl ul {
  background-color: #FFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 900px; }

/* line 41, stylesheet.scss */
.NavUl li {
  float: left; }

/* line 45, stylesheet.scss */
.NavUl li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/* line 53, stylesheet.scss */
.NavUl li a:hover {
  background-color: #DDD; }

/* line 57, stylesheet.scss */
.dropdown {
  position: relative;
  display: inline-block; }

/* line 62, stylesheet.scss */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #DDD;
  z-index: 1; }

/* line 70, stylesheet.scss */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* line 77, stylesheet.scss */
.dropdown-content a:hover {
  background-color: #DDD; }

/* line 81, stylesheet.scss */
.dropdown:hover .dropdown-content {
  display: block; }

/* line 85, stylesheet.scss */
.dropdown:hover .dropbtn {
  background-color: #DDD; }

/* End of Navigation */
/* line 93, stylesheet.scss */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0; }

/* line 101, stylesheet.scss */
.content {
  margin-top: 5%; }

/* line 105, stylesheet.scss */
footer {
  width: 100%;
  clear: both;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
  border-top: 3px solid #000;
  margin-top: 25px;
  background-color: #DDD;
  color: #000;
  position: static;
  left: 0;
  bottom: 0;
  padding: 50px 0; }

/* Home Page*/
/* line 125, stylesheet.scss */
.HomeImg {
  padding: 0;
  margin: 0; }

/* line 130, stylesheet.scss */
.HomeImg img {
  width: 100%; }

/* line 134, stylesheet.scss */
.HomeImg li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 140, stylesheet.scss */
.HomeContent aside {
  width: 200px;
  float: left; }

/* line 146, stylesheet.scss */
.HomeContent article {
  width: 500px;
  float: right;
  margin: 25px 130px 20px 0; }

/* Work Page */
/* About Page */
/* line 166, stylesheet.scss */
.AboutContent aside {
  float: left;
  margin-bottom: 300px;
  padding: 0;
  width: 350px; }

/* line 173, stylesheet.scss */
.AboutContent img {
  width: 100%; }

/* line 177, stylesheet.scss */
.AboutContent article {
  float: right;
  width: 400px;
  margin: 25px 90px 20px 0; }

/* Contact Page */
/* line 191, stylesheet.scss */
.ContactContent aside {
  float: left;
  margin-left: 200px;
  margin-bottom: 300px; }

/* line 197, stylesheet.scss */
.ContactContent article {
  float: right;
  margin-right: 200px; }

/*# sourceMappingURL=stylesheet.css.map */
